<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="pdf_directory_searching_location" value="C:\Users\testUser\documents"/>
    <add key="pdf_directory_saving_location" value="C:\Users\testUser\documents"/>
    <add key="pdf_keywords_seperated_by_comma_join_by_hash" value="Constantinos#Yiasemi,Andri#Yiasemi"/>
    <add key="check_for_new_pdf_interval_minutes" value="1"/>
    <add key="check_interval_values_minutes" value="1,2,5,10,15,20,30,40,60"/>
  </appSettings>
</configuration>