<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="pdf_directory_searching_location" value=""/>
    <add key="pdf_directory_saving_location" value=""/>
    <add key="pdf_keywords_seperated_by_comma_join_by_hash" value=""/>
    <add key="check_for_new_pdf_interval_minutes" value="1"/>
  </appSettings>
</configuration>